.button {
  background: $secondary-color;
  border: none;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
  border-radius: $s-corner;
}

.button--secondary {
  background: $secondary-color;
}

.button--dropdown {
  position: absolute;
  margin: calc(#{$s-size} + 2px);
}

.button--options {
  border-radius: 100%;
  width: $l-size;
  height: $l-size;
  background-color: $almost-white;
  color: gray;
  z-index: 1;
  padding: 0;
}

.button--close {
  border-radius: 100%;
  width: $l-size;
  height: $l-size;
  background-color: $almost-white;
  color: gray;
  padding: 0;
}

.button-group {
  margin-top: $xs-size;
  position: absolute;
  display: flex;
  align-items: center;
}

.button-group-filter {
  z-index: 1;
  margin-right: $m-size;
}

.button--options:focus {
  outline: none;
}

.button--close:focus {
  outline: none;
}

.button--link-header {
  background: $almost-white;
  color: black;
}

.button--link-footer {
  background: gray;
  color: black;
}

.button-option-icon { 
  position: relative;
  top: -10px;
  left: 1px;
}

.button-close-icon {
  position: relative;
  top: -2px;
  left: 1px;
}

.button-option-dot {
  line-height: 0.2;
  font-size: $l-size;
}

.button-close-x {
  font-size: $font-size-xlarge;
}

.button:hover{
  filter: contrast(0.8);
}

.button-bottom {
  border-radius: 0 0 $s-corner $s-corner;
}

.button-array {
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
  border-top: solid 1px;
  border-bottom: solid 1px;
  border-left: solid 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.button-array-option {
  background-color: $almost-white;
  padding: $xs-size $m-l-size;
  border-right: solid 1px;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.button-panel {
  max-width: min-content;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.button-tool {
  margin-left: $s-size;
  padding: 0;
  border-radius: 50%;
}

.button-navigation-sideways {
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-navigation-sideways:focus {
  outline: none;
}

.button-navigation-sideways-hidden {
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff00;
}

.button-navigation {
  margin: 0 $xs-size;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7;
}

.button-navigation-selected {
  background-color: #fdfdfd;
  filter: drop-shadow(2px 2px 3px #ababab);
}

.button-navigation:focus {
  outline: none;
}