.content-container {
	
}

.content-container--major {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $off-white;
	width: 100%;
	padding-top: 9rem;
}

.content-array-column {
	margin: auto;
}

.content-box {
	filter: drop-shadow(2px 2px 3px $grey);
	max-width: 100rem;
	margin: 1.2rem;
	display: flex;
	@media (max-width: $desktop-third-breakpoint) {
	    flex-direction: column;
	    max-width: 52rem;
	}
}

.odd-content-box {
	@media (max-width: $desktop-third-breakpoint) {
	    flex-direction: column;
	    max-width: 52rem;
	}
}

.even-content-box {
	@media (max-width: $desktop-third-breakpoint) {
	    flex-direction: column-reverse;
	    max-width: 52rem;
	}
}

.content-image-box {
	flex: 3 1 0;
}

.content-box-info {
	min-width: 24rem;
	background-color: $off-white;
	flex: 4 1 0;
}

.content-box-info-right {
	margin-left: auto;
}

.content-box-info p {
	padding: 1.2rem;
}

.content-box-info h2 {
	padding: 1.2rem;
	margin: 0;
}