.dropdown { 
  padding: $s-size;
  border-radius: $s-size;
  cursor: pointer;
}

.dropdown--right {
  border-radius: 0 $xs-size $xs-size 0;
}

.dropdown-list {
	position: absolute;
	background-color: aliceblue;
	border: 2px solid darken($off-white, 7%);
	padding: $s-size;
}

.dropdown-list-item {
	display: flex;
    flex-direction: row;
    align-items: center;
    margin: $xs-size 0;
}

.dropdown-list-item__option {
	margin: 0;
}