.filter {
	background-color: $almost-white;
	padding: $m-size;
	overflow-y: scroll;
	max-height: 70vh;
}

.filter-title {
	margin: 0 auto $m-size 0;
}

.filter-request {
	display: flex;
    padding: 0;
    flex-direction: column;
    align-items: center;
}

.filter-instruction {
	padding: $s-size 0;
    text-align: center;
    font-size: $font-size-xlarge;
    color: gray;
}

.filter-image-box {
	padding-top: $s-size;
	width: 40rem;
	@media (max-width: $desktop-second-breakpoint) {
	    width: auto;
	}
}