.filter {
	background-color: $almost-white;
	padding: $m-size;
}

.filter-title {
	margin: 0 auto $m-size 0;
}

.filter-request {
	padding: $xl-size;
}

.filter-instruction {
	padding: $font-size-xxlarge;
    text-align: center;
    font-size: $l-size;
    color: gray;
}