.form {
  display: flex;
  flex-direction: column;
  >* {
    margin-bottom: 197px;
  }
}

.formLayout {
	width: 100%;
	filter: drop-shadow(2px 2px 3px $grey);
  background-color: $almost-white;
  max-width: 100rem;
  padding: $s-size;
}

.form__error {
  margin: 0 0 $m-size 0;
  font-style: italic;
  color: $error-red;
}

.form__warning {
  margin: 0 0 $m-size 0;
  font-style: italic;
  color: $grey;
}
