.header {
  background: $almost-white;
  filter: drop-shadow(2px 2px 3px #666);
}

.header-veil {
  height: 18rem;
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $s-size;
}

.header__title {
  text-decoration: none;
  h1 {
    margin: 0;
  }
  @media (max-width: $desktop-third-breakpoint) {
    font-size: $font-size-xlarge;
  }
}

.header__links {
  display: flex;
  justify-content: center;
}