.header {
  background: $almost-white;
  filter: drop-shadow(2px 2px 3px #666);
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $s-size;
}

.header__title {
  text-decoration: none;
  h1 {
    margin: 0;
  }
}

.header__links {
  display: flex;
  justify-content: center;
}