.lesson-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0 $m-size;
}

.lesson-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lesson-header {
  padding: $s-size $m-size;
  margin: 0;
  font-size: $font-size-xlarge;
}

.lesson-selector {
  overflow: hidden;
  margin: $m-size;
  cursor: pointer;
  transition: all 0.5s ease;
  filter: drop-shadow(2px 2px 3px $grey);
  background-color: #fdfdfd;
  width: 27rem;
  height: 27rem;
  overflow-wrap: anywhere;
  max-width: 90rem;
  display: flex;
  flex-direction: column;
  padding: $s-size;
  &:hover {
    background-color: $off-white;
    transform: scale(1.1);
  }
}
