.list-header {
  background: $off-white;
  border: 1px solid darken($off-white, 7%);
  color: $grey;
  display: flex;
  justify-content: space-between;
  padding: $s-size $m-size;
}

.list-body {
  color: $dark-grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: inherit;
}

.list-item {
  margin-bottom: $s-size;
}

.list-item--multiple {
  display: flex;  
  justify-content: space-between;
}

.list-item--row-end {
    display: flex;
    justify-content: flex-end;
}

.list-item__pair {
  display:flex;
  align-items: center;
}

.list-item__table {
  margin: $s-size 0;
}

.list-item__table-segment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
  background-color: #e1e7ff;
  border: 2px solid #9ea9d6;
}

.list-item--message {
  align-items: center;
  color: $grey;
  justify-content: center;
  padding: $m-size;
  &:hover {
    background: none;
  }
}

.list-item__title {
  font-size: $font-size-xlarge;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
  word-break: break-all;
}

.list-item__sub-title {
  background-color: $light-blue;
  padding: $xs-size;
  font-size: $font-size-large;
  margin: 0;
  word-break: break-all;
  border-radius: $xs-size $xs-size 0 0;
}

.list-item__sub-title--left {
  border-radius: $xs-size 0 0 $xs-size;
}

.list-item__text {
  margin: 0;
}

.list-item__text-with-border {
  margin: 0;
  border: 1px solid #d6d6d6;
  padding: 0.8rem;
}

.list-item__data {
  margin: $s-size 0 0 0;
  @media (min-width: $desktop-breakpoint) {
    margin: 0;
    padding-left: $s-size;
  }
}
