.list-header {
  background: $off-white;
  border: 1px solid darken($off-white, 7%);
  color: $grey;
  display: flex;
  justify-content: space-between;
  padding: $s-size $m-size;
}

.list-body {
  color: $dark-grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: inherit;
}

.list-item {
  margin-bottom: $s-size;
}

.list-item--multiple {
  display: flex;  
  justify-content: space-between;
}

.list-item--row-end {
    display: flex;
    justify-content: flex-end;
}

.list-item__pair {
  display:flex;
  align-items: center;
}

.list-item__table {
  background-color: #e1e7ff;
}

.list-item__table-row{
  display: flex;
}

.list-item__table-row > * {
  flex: 1 1 0;
}

.list-item__table-segment-coloured {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
  border: 1px solid #9ea9d6;
}

.list-item__table-segment {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 1.2rem;
  border: 1px solid $light-grey;
}

.no-background {
  background-color: #ffffff00;
  border: 1px solid $light-grey;
}

.flex-ratio-one {
  flex: 1 1 0
}

.flex-ratio-two {
  flex: 2 1 0
}

.flex-ratio-three {
  flex: 3 1 0
}

.flex-ratio-four {
  flex: 4 1 0
}

.list-item--message {
  align-items: center;
  color: $grey;
  justify-content: center;
  padding: $m-size;
  &:hover {
    background: none;
  }
}

.list-item__title {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
  word-break: break-all;
}

.list-item__sub-title {
  background-color: $light-blue;
  padding: $xs-size;
  margin: 0;
  word-break: break-all;
  border-radius: $xs-size $xs-size 0 0;
}

.list-item__sub-title--left {
  border-radius: $xs-size 0 0 $xs-size;
}

.list-item__text {
  margin: 0;
  font-size: $font-size-xsmall;
}

.list-item__text-with-border {
  margin: 0;
  border: 1px solid $light-grey;
  padding: 0.8rem;
}

.text-border--right {
  border-radius: 0 0.8rem 0.8rem 0;
}

.list-item__data {
  margin: $s-size 0 0 0;
  @media (min-width: $desktop-breakpoint) {
    margin: 0;
    padding-left: $s-size;
  }
}
