.list-header {
  background: $off-white;
  border: 1px solid darken($off-white, 7%);
  color: $grey;
  display: flex;
  justify-content: space-between;
  padding: $s-size $m-size;
}

.list-body {
  color: $dark-grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: inherit;
  max-height: 100%;
}

.list-item {
  margin-bottom: $s-size;
}

.list-item__video {
  display: flex;
  justify-content: center;
  background-color: black;
}

.list-item--multiple {
  display: flex;  
  justify-content: space-between;
}

.list-item--multiple-breakable--space-between {
  display: flex;  
  justify-content: space-between;
  @media (max-width: $desktop-second-breakpoint) {
    flex-direction: column;
    margin: 0;
  }
}

.list-item--multiple-left-align {
  display: flex;  
}

.list-item--multiple-breakable {
  display: flex;  
  @media (max-width: $desktop-second-breakpoint) {
    flex-direction: column;
    margin: 0;
  }
}

.list-item--row-end {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
}

.list-item-left-align {
  margin-right: $s-size;
  width: max-content;
}

.list-item__pair {
  display:flex;
  align-items: center;
}

.list-item__pair-breakable {
  display:flex;
  align-items: center;
  @media (max-width: $desktop-second-breakpoint) {
    margin-bottom: $s-size;
  }
}

.list-item__table-row-single {
  word-break: break-word;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $s-size;
  border: 1px solid $light-grey;
}

.list-item__table-row{
  display: flex;
}

.list-item__table-row > * {
  flex: 1 1 0;
}

.list-item__table-segment {
  word-break: break-word;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: $s-size;
  border: 1px solid $light-grey;
}

.list-checkbox {
  height: 4.4rem;
}

.no-background {
  background-color: #ffffff00;
  border: 1px solid $light-grey;
}

.table-segment-one {
  flex: 1 1 0;
}

.table-segment-two {
  flex: 5 1 0;
}

.table-segment-three {
  flex: 3 1 0;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
}

.list-item--message {
  align-items: center;
  color: $grey;
  justify-content: center;
  padding: $m-size;
  &:hover {
    background: none;
  }
}

.list-item__title {
  max-height: 6.5rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
  word-break: break-all;
}

.list-item__sub-title {
  background-color: $primary-color;
  padding: $xs-size;
  margin: 0;
  word-break: break-all;
  border-radius: $s-corner $s-corner 0 0;
}

.list-item__sub-title--left {
  border-radius: $s-corner 0 0 $s-corner;
  height: 100%;
  display: flex;
  align-items: center;
  min-width: max-content;
}

.list-item__text {
  margin: 0;
  font-size: $font-size-xsmall;
}

.list-item__text-with-border {
  margin: 0;
  border: 1px solid $light-grey;
  padding: 0.8rem;
}

.list-item__text-without-border {
  margin: 0;
  padding: 0.8rem;
}

.text-border--right {
  border-radius: 0 $s-corner $s-corner 0;
}

.list-item__data {
  margin: $s-size 0 0 0;
  @media (min-width: $desktop-breakpoint) {
    margin: 0;
    padding-left: $s-size;
  }
}

.list-item-icon-container {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  background-color: #ececec;
  padding: 6px;
}

.list-item-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  height: 100%;
}