.formLayout {
	width: 100%;
	filter: drop-shadow(2px 2px 3px $grey);
    background-color: #fdfdfd;
    border: 2px solid darken($off-white, 7%);
    border-top: none;
    max-width: 100rem;
    padding: $s-size;
    margin: 0 $m-size;
}

.page-body { 
	display: flex;
}