.popup {
	position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
}

.popup-group {
	z-index: 2;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	filter: drop-shadow(2px 2px 3px $grey);
  	background-color: #ffffff00;
}

.popup-container {
	filter: drop-shadow(2px 2px 3px $grey);
  	background-color: #fdfdfd;
	padding: $s-size;
	@media (min-width: $desktop-breakpoint) {
		padding: $m-size;
	}
}

.pdf-popup {
	padding: 0;
	background-color: #ffffff00;
	border:none;
}

.lesson-popup {
	top: 20%;
}

.add-resource-popup {
	top: 64%;
}

.add-structure-popup {
	top: 36%;
}

.edit-curriculum-link-popup {
    top: 61%;
}

.popup-background {
	z-index: 2;
	position: fixed;
    background-color: #00000042;
    width: 100%;
    height: 100%;
}