.popup {
	position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
}

.popup-container {
	z-index: 2;
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	filter: drop-shadow(2px 2px 3px $grey);
  	background-color: #fdfdfd;
  	border: 2px solid darken($off-white, 7%);
	padding: $s-size;
	@media (min-width: $desktop-breakpoint) {
		padding: $m-size;
	}
}

.popup-background {
	z-index: 2;
	position: fixed;
    background-color: #00000042;
    width: 100%;
    height: 100%;
}