.popup {
	display: flex;
    justify-content: center;
	position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.popup-group {
	z-index: 2;
	filter: drop-shadow(2px 2px 3px $grey);
	margin-top: 20rem;
    min-width: 84rem;
	max-width: 100rem;
}

.popup-container {
	filter: drop-shadow(2px 2px 3px $grey);
  	background-color: #fdfdfd;
	padding: $s-size;
	@media (min-width: $desktop-breakpoint) {
		padding: $m-size;
	}
}

.pdf-popup {
	padding: 0;
	background-color: #ffffff00;
	border:none;
}

.lesson-popup {
	height: min-content;
	overflow-y: scroll;
	max-height: 94vh;
	margin-top: 3rem;
}

.add-resource-popup {
    margin-top: 42rem;
}

.add-structure-popup {
	margin-top: 42rem;
}

.edit-curriculum-link-popup {
	height: min-content;
    margin-top: 42rem;
	max-height: 92rem;
}

.popup-background {
	z-index: 2;
	position: fixed;
    background-color: #00000042;
    width: 100%;
    height: 100%;
}