.collapsibleSidebar {
	transition: all 1s ease;
    transform: translateX(-100%);
	display: flex;
	filter: drop-shadow(2px 2px 3px $grey);
    position: absolute;
    z-index: 1;
    min-height: 100rem;
}

.collapsibleSidebar__button:focus {
	outline:none
}

.collapsibleSidebar__button-icon {
    padding: 2.4rem $m-size;
    border: none;
    position: absolute;
    font-size: $font-size-xlarge;
    display: flex;
    align-items: center;
    border-radius: 0 $s-corner $s-corner 0;
    font-weight: bold;
    background-color: $almost-white;
}

.collapsibleSidebar__button-icon:focus {
	outline:none
}

.collapsibleSidebar__header-options {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 0.8rem;
}